body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d1b1b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.producto {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.producto img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.producto p {
    margin: 5px 0;
    text-align: center;
}
